Data Analysis on Population Of Bangladesh

import pandas as pd
import matplotlib.pyplot as plt
from plotly.graph_objs import Bar,Layout
from plotly.graph_objs import Scattergeo, Layout
from plotly import offline
import numpy as np
from datetime import datetime

import csv
import json
import openpyxl

# Opening The File And Reading It

In [27]:
pb = pd.read_csv('population_of_all.csv', delimiter= ',')
pb[:5]

,2,Afghanistan,3010,Population - Est. & Proj.,511,Total Population - Both sexes,1000 persons,7752.118,X,Unnamed: 9,...,X.147,Unnamed: 450,75384.981,X.148,Unnamed: 453,75166.352,X.149,Unnamed: 456,74937.964,X.150
0,2,Afghanistan,3010,Population - Est. & Proj.,512,Total Population - Male,1000 persons,4099.243,X,NaN,...,X,NaN,37596.553,X,NaN,37485.029,X,NaN,37369.440,X
1,2,Afghanistan,3010,Population - Est. & Proj.,513,Total Population - Female,1000 persons,3652.874,X,NaN,...,X,NaN,37788.419,X,NaN,37681.331,X,NaN,37568.521,X
2,2,Afghanistan,3010,Population - Est. & Proj.,551,Rural population,1000 persons,7286.991,X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Afghanistan,3010,Population - Est. & Proj.,561,Urban population,1000 persons,465.127,X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Albania,3010,Population - Est. & Proj.,511,Total Population - Both sexes,1000 persons,1263.174,X,NaN,...,X,NaN,1139.106,X,NaN,1113.510,X,NaN,1088.336,X

In [29]:
pb.columns[:10]

Index(['2', 'Afghanistan', '3010', 'Population - Est. & Proj.', '511',
       'Total Population - Both sexes', '1000 persons', '7752.118', 'X',
       'Unnamed: 9'],
      dtype='object')

In [30]:
pb.describe()

,2,3010,511,7752.118,Unnamed: 9,7840.156,Unnamed: 12,7935.997,Unnamed: 15,8039.694,...,Unnamed: 444,75789.684,Unnamed: 447,75593.009,Unnamed: 450,75384.981,Unnamed: 453,75166.352,Unnamed: 456,74937.964
count,1322.000000,1322.0,1322.000000,1.140000e+03,0.0,1.140000e+03,0.0,1.140000e+03,0.0,1.140000e+03,...,0.0,7.440000e+02,0.0,7.440000e+02,0.0,7.440000e+02,0.0,7.440000e+02,0.0,7.440000e+02
mean,808.311649,3010.0,530.413767,3.225166e+04,NaN,3.285748e+04,NaN,3.345067e+04,NaN,3.404104e+04,...,NaN,1.566009e+05,NaN,1.567703e+05,NaN,1.569273e+05,NaN,1.570714e+05,NaN,1.572023e+05
std,1758.097157,0.0,21.988068,1.412696e+05,NaN,1.439138e+05,NaN,1.464561e+05,NaN,1.489436e+05,...,NaN,6.628484e+05,NaN,6.635094e+05,NaN,6.641229e+05,NaN,6.646874e+05,NaN,6.652011e+05
min,1.000000,3010.0,511.000000,0.000000e+00,NaN,0.000000e+00,NaN,0.000000e+00,NaN,0.000000e+00,...,NaN,7.900000e-01,NaN,7.920000e-01,NaN,7.920000e-01,NaN,7.970000e-01,NaN,8.010000e-01
25%,80.000000,3010.0,512.000000,1.115572e+02,NaN,1.156653e+02,NaN,1.176405e+02,NaN,1.197695e+02,...,NaN,9.867830e+02,NaN,9.846545e+02,NaN,9.807400e+02,NaN,9.792538e+02,NaN,9.781517e+02
50%,153.000000,3010.0,513.000000,1.529303e+03,NaN,1.551858e+03,NaN,1.577618e+03,NaN,1.605511e+03,...,NaN,8.250039e+03,NaN,8.266285e+03,NaN,8.217062e+03,NaN,8.180498e+03,NaN,8.183467e+03
75%,226.000000,3010.0,551.000000,8.118927e+03,NaN,8.306212e+03,NaN,8.455590e+03,NaN,8.592627e+03,...,NaN,4.637794e+04,NaN,4.627560e+04,NaN,4.650147e+04,NaN,4.645720e+04,NaN,4.631391e+04
max,5817.000000,3010.0,561.000000,2.536431e+06,NaN,2.584034e+06,NaN,2.630862e+06,NaN,2.677609e+06,...,NaN,1.085769e+07,NaN,1.086318e+07,NaN,1.086789e+07,NaN,1.087181e+07,NaN,1.087490e+07